* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'SansSerif';
    font-weight: 400;
    font-size: 13px;
}

header {
    background-color: #f4c2c2;
    color: white;
    padding: 10px 0;
}

header h1 {
    margin: 7px 0;
    font-size: 25px;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

header nav {
    text-align: right;
}

header nav a {
    margin: 5px 0;
    color: white;
    margin-left: 15px;
    display: inline-block;
    padding: 10px 15px;
    text-transform: uppercase;
    text-decoration: none;
}

header nav a:hover {
    color: white;
    text-decoration: none;
    background-color: #b86b77;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.main-image {
    background: #b86b77;
    background-size: cover;
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.main-image .title {
    margin: 0;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.7;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.main-image-two {
    background: #ee959e;
}

@media(max-width: 768px){
    div .helper a,
    header h1,
    header nav a {
        text-align: center;
        display: block;
    }
    div .helper a,
    header nav a {
        background-color: #b86b77;
        margin: 0 0 2px 0;
    }
    header h1 {
        padding-bottom: 10px;
    }
}

.box {
    padding: 20px;
    margin: 65px 0;
}

.box h2 {
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0;
}

.box-main {
    padding: 20px;
    margin: 5px 0;
}

.button {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.question {
    color: black;
    width: 100%;
    text-align: center;
    margin: 20px 0;
    font-size: 25px;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

div .button {
    width: 100%;
    text-align: center;
}

div .question-btn {
    padding: 0 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    margin: 7px 0;
    font-size: 25px;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

div .question-btn:hover {
    background: #b86b77;
}

div .helper-btn {
    padding: 0 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    margin: 7px 0;
    font-size: 25px;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.btn-hidden {
    visibility: hidden;
}

div .helper-btn:hover {
    background: #b86b77;
}

footer {
    background: #f4c2c2;
    color: white;
}

footer p {
    width: 100%;
    margin: 20px 0;
    text-align: center;
    font-size: 15px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
