<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>F-Week</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="row">
                    <h1 class="col-md-12">F-Week</h1>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid main-image-two d-none d-sm-block">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="button">
                        <button class="question-btn" onclick="question()">Daily Question</button>
                    </div>
                    <p id="basic-question" class="question" th:text="question">The daily question</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid main-image d-none d-sm-block">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box-main">
                            <img src="angel.png" class="img-fluid" alt="Responsive image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid main-image-two d-none d-sm-block">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="button">
                        <button id="helper-button" class="helper-btn btn-hidden" onclick="answer()">Helper</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="row">
                    <p>Codecool 2019</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="js.js"></script>
</body>
</html>