<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>F-Week</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="row">
                    <h1 class="col-md-4">F-Week</h1>
                    <nav class="col-md-8">
                        <a href="">Logout</a>
                    </nav>
                </div>
            </div>
        </div>
    </header>

</body>
</html>